body {
display: inline;
background-color: #ffffff;
color:#005cb9;
Font-Family: 'Varela Round', Sans-Serif;
Font-Size: 48px;
Font-Family: 'Noto Serif', Serif;
Font-Size: 15px;
}

.login {

    background-color: #98A80A ;
    color: #ffffff;
    border-radius: 25px;
    border: 1px solid;
    padding: 10px;
    width: 50px;
    text-align: center;
    Font-Family: 'Varela Round', Sans-Serif;
    Font-Size: 48px;
    Font-Family: 'Noto Serif', Serif;
    Font-Size: 15px;
    margin: 20px auto;
}

  .username p {

    margin: 10px auto;
    
}

img {

    height: 100px;
    width: 130px;
}